<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/snickler/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="GitHub.Copilot.SDK" />
    </packageSource>
    <packageSource key="GitHub">
      <package pattern="GitHub.Copilot.SDK" />
    </packageSource>
  </packageSourceMapping>
</configuration>
